<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<main>
    <h1>Delete user</h1>
    <form th:object="${user}"
          th:action="@{/users/delete}"
          method="post">
        <div>
            <label for="id">Id</label>
            <input id="id" type="number"
                   th:field="*{id}">
        </div>
        <button type="submit">Delete User</button>
    </form>
</main>
</body>
</html>