<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<main>
    <div>
        <h2>List Users</h2>
        <th:block th:each="user : ${list}">
            <h1 th:text="${user}"></h1>
        </th:block>
    </div>
    <div>
        <h2><a href="/templates/users/create">Создать пользователя</a></h2>
        <h2><a href="/templates/users/update">Update User</a></h2>
        <h2><a href="/templates/users/delete">Delete User</a></h2>
    </div>
</main>
</body>
</html>